
.container {   
  margin: auto;
  text-align: center;
}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
  color:black;
  background-color: burlywood !important;
            
}
img {
  max-width: 500px;
  max-height: 500px;
}
h1 {
  background-color: burlywood;
}
#time{
  color: red;
  background-color: tan;
  width: 70%;
}
#question {
  background-color: lightgreen;
  color: brown;
}
#images {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#correct-answer {
  color: red;
  background-color: tan;
  width: 70%;
}
.question {
  color:#F2EDD7FF;
  font-size: 200%;
}
#score {
  color:#F2EDD7FF;
  font-size: 300%;
  margin: auto;
  text-align: center;
}
#answers {
  margin: auto;
  text-align: center;
}
/* #incorrect-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#correct-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */
/* #time-out {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

#reset {
  margin: auto;
  text-align: center;
}
/* #correct-answer {
  color: red;
  font-size: 200%;
} */
