body {
    width: 70%;
    margin: 0 auto;
}
.container {
    
  margin: auto;
  text-align: center;
}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}