
.container {
    
  margin: auto;
  text-align: center;
}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
img {
  max-width: 500px;
  max-height: 500px;
}
h1 {
  background-color: burlywood;
}
#time{
  color: red;
  background-color: tan;
  width: 70%;
}
#question {
  background-color: lightgreen;
  color: brown;
}
#images {
  margin: auto;
  width: 50%;
  padding: 10px;
}
#correct-answer {
  color: red;
  background-color: tan;
  width: 70%;
}
.question {
  color:#F2EDD7FF;
  font-size: 200%;
}